.contact-container {
  padding: 50px 30px;
  background: #f8fafc;
}

.title {
  text-align: center;
  font-size: 34px;
  color: #0f172a;
}

.subtitle {
  text-align: center;
  color: #64748b;
  margin-bottom: 40px;
}

/* GRID */
.contact-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

/* FORM CARD */
.contact-card {
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.contact-card h3 {
  margin-bottom: 20px;
}

/* INPUTS */
input, textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #cbd5f5;
  font-size: 14px;
}

textarea {
  resize: none;
  height: 120px;
}

/* BUTTON */
button {
  width: 100%;
  padding: 12px;
  background: #0ea5e9;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #0284c7;
}

/* INFO */
.contact-info {
  padding: 30px;
}

.contact-info h3 {
  margin-bottom: 15px;
}

.contact-info p {
  margin-bottom: 10px;
  color: #334155;
}

/* SOCIALS */
.socials span {
  display: inline-block;
  margin-right: 15px;
  margin-top: 10px;
  font-size: 14px;
  color: #0ea5e9;
  cursor: pointer;
}